@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  line-height: 2;
  font-size: large;
  padding: 0 20%;
}

h1 {
  font-size: 44px;
  margin-top: 34px;
  font-weight: bold;
  display: flex;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

h3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 35px;
}

.faq h2 {
  text-align: center;
  font-size: 28px !important;
  margin-top: 40px;
}